/* ======================
        Base Styles
   ====================== */

* {
    box-sizing: border-box;
}

h1, h2, h3, p, span, button {
    font-family: 'Roboto Slab', serif;
}

hr {
  width: 75%;
}

/* ======================
        Layout Styles
   ====================== */

#wrapper {
    position: relative;
}

#header {
    position: absolute;
    z-index: 700;
    width: 100%;
}

.container {
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.col {
    width: 100%;
}

.col {
    width: 100%;
}

.header-content {
    font-size: 2rem;
    text-align: center;
    font-weight: lighter;
    color: #fff;
}

.watched-content {
    min-height: 415px;
}

.watched {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background:
    linear-gradient(#000, transparent 90%),
    linear-gradient(0deg, #f7f7f7, transparent 60%),
    url(../img/banner.jpg);
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
<<<<<<< HEAD

}

.minutesHeading {
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
    color: #fff;
}

.minutesQuestion {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
=======
}

.minutesHeading {
    text-align: center;
    font-size: 1.25rem;
    font-weight: lighter;
>>>>>>> master
    color: #fff;
    margin-top: 150px;
    -webkit-animation: fadein 16s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 16s; /* Firefox < 16 */
        -ms-animation: fadein 16s; /* Internet Explorer */
         -o-animation: fadein 16s; /* Opera < 12.1 */
            animation: fadein 16s;
}

.minutesQuestion {
    text-align: center;
    font-size: 1.5rem;
    font-weight: normal;
    color: #222;
    margin-top: 150px;
    -webkit-animation: fadein 16s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 16s; /* Firefox < 16 */
        -ms-animation: fadein 16s; /* Internet Explorer */
         -o-animation: fadein 16s; /* Opera < 12.1 */
            animation: fadein 16s;
}

#minutes,
#totalMinutes {
    min-height: 48px;
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
    color: #fff;
    -webkit-animation: fadein 8s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 8s; /* Firefox < 16 */
        -ms-animation: fadein 8s; /* Internet Explorer */
         -o-animation: fadein 8s; /* Opera < 12.1 */
            animation: fadein 8s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
<<<<<<< HEAD
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

=======
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

>>>>>>> master
/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


.footer {
    height: 150px;
    text-align: center;
    background: #f7f7f7;
}

.footer-content {
    font-weight: lighter;
    text-transform: uppercase;
    color: #222;
}

.footer-tag {
  margin-top: 0;
}

/* ======================
        Button Styles
   ====================== */

.btn {
  outline: none;
  border: 2px solid #000;
  border-radius: 2px;
  background: #f7f7f7;
  width: 15%;
  height: 3rem;
  transition-duration: 0.5s;
  transition-property: border, background, color;
}

<<<<<<< HEAD
/* ======================
        Media Queries
   ====================== */

@media screen and (min-width: 768px) {

    .watched-content {
        margin-top: 150px;
    }

    .minutesHeading {
        font-size: 2rem;
    }

    .minutesQuestion {
        font-size: 3rem;
    }

    #minutes,
    #totalMinutes {
        font-size: 2.5rem;
    }

}
=======
.btn:hover {
  border: #444;
  background: #444;
  color: #fff;
}

.btn:active {
  background: #000;
}

/* ======================
        Media Queries
   ====================== */
>>>>>>> master

@media screen and (min-width: 768px) {

    .watched-content {
        margin-top: 150px;
    }

    .minutesHeading {
        font-size: 2rem;
    }

    .minutesQuestion {
        font-size: 3rem;
    }

    #minutes,
    #totalMinutes {
        font-size: 2.5rem;
    }

}
